.top_menu:after, .logo_holder:after, .news_holder:after, .adv_search_form:after, .all_news_block:after, .page_title:after, .designer_cv_holder:after, .designer_contacts_holder:after, .designer_info:after, .calendar_holder:after, .event_description:after, .calendar_controls:after {
  position: static;
  display: block;
  height: 0;
  clear: both;
  content: "";
  visibility: hidden;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, a, input, label, textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html:before, html:after, body:before, body:after, div:before, div:after, span:before, span:after, object:before, object:after, iframe:before, iframe:after,
h1:before,
h1:after, h2:before, h2:after, h3:before, h3:after, h4:before, h4:after, h5:before, h5:after, h6:before, h6:after, p:before, p:after, blockquote:before, blockquote:after, pre:before, pre:after,
abbr:before,
abbr:after, address:before, address:after, cite:before, cite:after, code:before, code:after,
del:before,
del:after, dfn:before, dfn:after, em:before, em:after, img:before, img:after, ins:before, ins:after, kbd:before, kbd:after, q:before, q:after, samp:before, samp:after,
small:before,
small:after, strong:before, strong:after, sub:before, sub:after, sup:before, sup:after, var:before, var:after,
b:before,
b:after, i:before, i:after, a:before, a:after, input:before, input:after, label:before, label:after, textarea:before, textarea:after,
dl:before,
dl:after, dt:before, dt:after, dd:before, dd:after, ol:before, ol:after, ul:before, ul:after, li:before, li:after,
fieldset:before,
fieldset:after, form:before, form:after, label:before, label:after, legend:before, legend:after,
article:before,
article:after, aside:before, aside:after, canvas:before, canvas:after, details:before, details:after, figcaption:before, figcaption:after, figure:before, figure:after,
footer:before,
footer:after, header:before, header:after, hgroup:before, hgroup:after, menu:before, menu:after, nav:before, nav:after, section:before, section:after, summary:before, summary:after,
time:before,
time:after, mark:before, mark:after, audio:before, audio:after, video:before, video:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

textarea {
  resize: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------------------------form elements*/
input, select {
  vertical-align: middle;
}

textarea {
  resize: none;
  overflow-y: auto;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

input:hover, input:focus, input:active,
textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
}

input[type="submit"] {
  cursor: pointer;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button:focus, button:active {
  outline: none;
}

input,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important;
}

/*-----------------------------form elements###*/
@font-face {
  font-family: 'PTRoubleSans';
  src: url(/bundles/sipresource/fonts/PTRoubleSans.eot);
  src: url(/bundles/sipresource/fonts/PTRoubleSans.eot?#iefix) format("embedded-opentype"), url(/bundles/sipresource/fonts/PTRoubleSans.svg) format("svg"), url(/bundles/sipresource/fonts/PTRoubleSans.woff) format("woff"), url(/bundles/sipresource/fonts/PTRoubleSans.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyrLight';
  src: url(/bundles/sipresource/fonts/HelveticaNeueCyr-Light.eot);
  src: url(/bundles/sipresource/fonts/HelveticaNeueCyr-Light.eot?#iefix) format("embedded-opentype"), url(/bundles/sipresource/fonts/HelveticaNeueCyr-Light.svg) format("svg"), url(/bundles/sipresource/fonts/HelveticaNeueCyr-Light.woff) format("woff"), url(/bundles/sipresource/fonts/HelveticaNeueCyr-Light.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyrBlack';
  src: url(/bundles/sipresource/fonts/HelveticaNeueCyr-Black.eot);
  src: url(/bundles/sipresource/fonts/HelveticaNeueCyr-Black.eot?#iefix) format("embedded-opentype"), url(/bundles/sipresource/fonts/HelveticaNeueCyr-Black.svg) format("svg"), url(/bundles/sipresource/fonts/HelveticaNeueCyr-Black.woff) format("woff"), url(/bundles/sipresource/fonts/HelveticaNeueCyr-Black.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueCyrThin';
  src: url(/bundles/sipresource/fonts/HelveticaNeueCyr-Thin.eot);
  src: url(/bundles/sipresource/fonts/HelveticaNeueCyr-Thin.eot?#iefix) format("embedded-opentype"), url(/bundles/sipresource/fonts/HelveticaNeueCyr-Thin.svg) format("svg"), url(/bundles/sipresource/fonts/HelveticaNeueCyr-Thin.woff) format("woff"), url(/bundles/sipresource/fonts/HelveticaNeueCyr-Thin.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AcromBold';
  src: url(/bundles/sipresource/fonts/AcromBold.eot);
  src: url(/bundles/sipresource/fonts/AcromBold.eot?#iefix) format("embedded-opentype"), url(/bundles/sipresource/fonts/AcromBold.svg) format("svg"), url(/bundles/sipresource/fonts/AcromBold.woff) format("woff"), url(/bundles/sipresource/fonts/AcromBold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Calibri';
  src: url(/bundles/sipresource/fonts/calibri.eot);
  src: url(/bundles/sipresource/fonts/calibri.eot?#iefix) format("embedded-opentype"), url(/bundles/sipresource/fonts/calibri.svg) format("svg"), url(/bundles/sipresource/fonts/calibri.woff) format("woff"), url(/bundles/sipresource/fonts/calibri.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Calibril';
  src: url(/bundles/sipresource/fonts/calibril.eot);
  src: url(/bundles/sipresource/fonts/calibril.eot?#iefix) format("embedded-opentype"), url(/bundles/sipresource/fonts/calibril.svg) format("svg"), url(/bundles/sipresource/fonts/calibril.woff) format("woff"), url(/bundles/sipresource/fonts/calibril.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Calibrib';
  src: url(/bundles/sipresource/fonts/calibrib.eot);
  src: url(/bundles/sipresource/fonts/calibrib.eot?#iefix) format("embedded-opentype"), url(/bundles/sipresource/fonts/calibrib.svg) format("svg"), url(/bundles/sipresource/fonts/calibrib.woff) format("woff"), url(/bundles/sipresource/fonts/calibrib.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  background: #fff;
  font: 14px/1.2 "HelveticaNeueCyrLight", sans-serif;
  color: #000;
  min-width: 300px;
}

.hide {
  display: none !important;
}

.fl {
  float: left;
}
@media only screen and (max-width: 719px) {
  .fl {
    float: none;
  }
}

.fr {
  float: right;
}
@media only screen and (min-width: 720px) and (max-width: 1024px) {
  .fr_2_l .fr {
    float: left;
  }
}
@media only screen and (max-width: 719px) {
  .fr {
    float: none;
  }
}

.mb {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.mb_5 {
  margin-bottom: 5px;
}

.w_265 {
  width: 265px;
}
@media only screen and (max-width: 719px) {
  .w_265 {
    width: 100%;
  }
}

.w_330 {
  width: 330px;
}

.w_410 {
  width: 410px;
}
@media only screen and (max-width: 719px) {
  .w_410 {
    width: 100%;
  }
}

.w_660 {
  width: 660px;
}
@media only screen and (max-width: 719px) {
  .w_660 {
    width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  .tablet_wide {
    width: 100%;
  }
  .tablet_wide .news_block {
    float: none;
  }
}

.pl_16 {
  padding-left: 16px;
}
@media only screen and (max-width: 1023px) {
  .pl_16 {
    padding-left: 0;
  }
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  position: relative;
  min-height: 100%;
  padding: 220px 0 0;
  overflow: hidden;
}
@media only screen and (max-width: 719px) {
  .wrapper {
    padding-top: 0;
  }
}

.base {
  padding-bottom: 250px;
}
@media only screen and (max-width: 719px) {
  .base {
    padding-bottom: 0;
  }
}

.section_inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
@media only screen and (max-width: 719px) {
  .header {
    position: relative;
  }
}

.logo {
  float: left;
}
.logo.logo_v2 {
  margin: 15px 10px 0 0;
}
.logo.logo_v3 {
  margin: 10px 35px 0 0;
}
.logo img {
  display: block;
  max-width: 100%;
}

.gl_link {
  text-decoration: underline;
}
.gl_link:hover {
  text-decoration: none;
}
.gl_link.more_link {
  text-decoration: none;
  color: #f68f1e;
}
.gl_link.more_link:hover {
  text-decoration: underline;
}
.gl_link.adv_search_btn {
  display: inline-block;
  margin-left: 45px;
}
@media only screen and (max-width: 719px) {
  .gl_link.adv_search_btn {
    margin: 15px 0 0;
  }
}
.gl_link.edit_link {
  font-family: "Calibri", sans-serif;
  color: #666;
}
.gl_link.add_link:before {
  content: '+';
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin-right: 8px;
  border: 1px solid #000;
}

.top_menu {
  background: #e6e6e7;
  padding: 7px 15px 3px;
  line-height: 22px;
  letter-spacing: -.3px;
  position: relative;
}
.top_menu .gl_link {
  display: inline-block;
  vertical-align: top;
  line-height: 1.2;
}
@media only screen and (max-width: 719px) {
  .top_menu {
    padding-left: 55px;
  }
}

.top_m_item_l {
  float: left;
}

.top_m_item_r {
  float: right;
  padding-left: 50px;
}
@media only screen and (max-width: 719px) {
  .top_m_item_r {
    padding-left: 10px;
  }
}

.humburger {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  left: 5px;
  width: 40px;
  height: 32px;
  display: none;
}
.humburger:before {
  content: '';
  position: absolute;
  top: 6px;
  bottom: 6px;
  right: 5px;
  left: 5px;
  border: solid #000;
  border-width: 2px 0;
}
.humburger:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  background: #000;
  right: 5px;
  left: 5px;
}
@media only screen and (max-width: 719px) {
  .humburger {
    display: block;
  }
}

.header .logo_holder {
  line-height: 95px;
  padding: 20px 15px 30px;
}
@media only screen and (max-width: 719px) {
  .header .logo_holder {
    padding: 10px;
    float: right;
    width: 100%;
  }
}
.footer .logo_holder {
  background: #e6e6e7;
  line-height: 95px;
  padding: 50px 35px 50px;
}
@media only screen and (max-width: 719px) {
  .footer .logo_holder {
    padding: 10px;
  }
}

.main_menu {
  background: #000;
  line-height: 40px;
  display: table;
  width: 100%;
  border-collapse: collapse;
}
@media only screen and (max-width: 719px) {
  .main_menu {
    display: block;
    line-height: normal;
  }
}
.footer .main_menu {
  font-family: "HelveticaNeueCyrThin", sans-serif;
}
@media only screen and (max-width: 719px) {
  .footer .main_menu {
    display: none;
  }
}
@media only screen and (max-width: 719px) {
  .header .main_menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 10;
  }
  .menu_open .header .main_menu {
    display: block;
  }
}

.main_menu_holder {
  position: relative;
}

.menu_item {
  display: table-cell;
  text-align: center;
}
@media only screen and (max-width: 719px) {
  .menu_item {
    display: block;
    text-align: left;
  }
}

.menu_link {
  cursor: pointer;
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  padding-top: 4px;
  letter-spacing: .3px;
}
.header .menu_link:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 6px;
}
.active .menu_link {
  cursor: default;
}
.active .menu_link:hover .link_text {
  text-decoration: none;
}
.header .active .menu_link {
  background: #808285;
}
.header .active .menu_link:before {
  background: #f68f1e;
}
.menu_link:hover, .active .menu_link {
  color: #f68f1e;
}
.header .menu_link:hover, .header .active .menu_link {
  background: #808285;
}
.header .menu_link:hover:before, .header .active .menu_link:before {
  background: #f68f1e;
}
@media only screen and (max-width: 719px) {
  .menu_link {
    padding: 10px;
  }
}

@media only screen and (max-width: 1023px) {
  .main_content {
    padding: 10px;
  }
}

.theme_block {
  padding: 20px 0 10px;
}

.theme_banner {
  display: block;
  text-decoration: none;
  position: relative;
  margin-bottom: 20px;
}
.theme_banner img {
  display: block;
  max-width: 100%;
}

.theme_title {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(43, 56, 143, 0.7);
  color: #fff;
  padding: 10px 20px;
  font: 33px/1.25 "HelveticaNeueCyrBlack", sans-serif;
}
@media only screen and (max-width: 719px) {
  .theme_title {
    position: relative;
    font-size: 24px;
    padding: 10px;
  }
}

.img_w {
  display: block;
  text-decoration: none;
}
.img_w img {
  display: block;
  max-width: 100%;
}

.news_holder {
  margin-right: -16px;
}
.news_holder .news_block {
  padding-right: 16px;
}

.news_block {
  float: left;
  line-height: 1.2;
  margin-bottom: 35px;
}
.news_block .img_w {
  margin-bottom: 15px;
  height: 250px;
}
@media only screen and (max-width: 719px) {
  .news_block .img_w {
    height: auto;
  }
  .news_block .img_w img {
    width: 100%;
  }
}

.event_date {
  display: block;
  background: #f5f5f5;
  border: 1px solid #d1d1d1;
  text-align: center;
  padding-top: 50px;
  height: 100%;
  font-family: "HelveticaNeueCyrBlack", sans-serif;
}

.event_day {
  font-size: 125px;
  line-height: 1;
  margin-bottom: -5px;
  color: #b4256f;
}

.event_month {
  color: #333;
  font-size: 30px;
}

.abs_holder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.gl_table {
  display: table;
  width: 100%;
  height: 100%;
}

.gl_t_cell {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.search_block {
  position: relative;
  height: 200px;
  margin-bottom: 35px;
  background: url(/bundles/sipresource/img/form_bg.jpg) no-repeat 0 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.search_form {
  padding: 0 58px 10px;
}
@media only screen and (max-width: 719px) {
  .search_form {
    padding: 10px;
  }
}

.adv_search_form {
  line-height: 34px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 719px) {
  .adv_search_form {
    margin-bottom: 10px;
  }
}
.adv_search_form .search_cell {
  width: 68.5%;
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (max-width: 719px) {
  .adv_search_form .search_cell {
    width: 100%;
    display: block;
  }
}

.form_cell {
  position: relative;
}
.form_cell.search_cell {
  text-align: left;
  padding-right: 137px;
}
.form_cell.search_cell .f_label {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
}
@media only screen and (max-width: 719px) {
  .form_cell.search_cell {
    padding-right: 0;
  }
}
.form_cell.search_cell.search_cell_v2 {
  padding-right: 0;
}
.form_cell.search_cell.search_cell_v2 .search_btn {
  right: 1px;
  border-radius: 0 5px 5px 0;
}
@media only screen and (max-width: 719px) {
  .form_cell.search_cell.search_cell_v2 .search_btn {
    border-radius: 0;
  }
}
.form_cell.search_cell.search_cell_v2 .f_input_v1 {
  border-radius: 5px;
  padding-right: 137px;
  border: 1px solid #b0b1b3;
}
@media only screen and (max-width: 719px) {
  .form_cell.search_cell.search_cell_v2 .f_input_v1 {
    padding-right: 0;
  }
}

.f_input {
  display: block;
  width: 100%;
}
.f_input.f_input_v1 {
  background: #fff;
  height: 34px;
  padding: 5px 10px;
  line-height: 24px;
  border: 1px solid #b7b8ba;
}

.all_news_block {
  border: 1px solid #b7b8ba;
  padding: 20px 30px 12px;
  margin-bottom: 22px;
  white-space: nowrap;
}
@media only screen and (max-width: 719px) {
  .all_news_block {
    padding: 10px;
  }
}

.news_date {
  clear: both;
  width: 15%;
  letter-spacing: -.9px;
}

.news_item {
  padding-left: 5px;
  width: 85%;
  letter-spacing: -.7px;
}

.news_item,
.news_date {
  float: left;
  margin-bottom: 9px;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 719px) {
  .news_item,
  .news_date {
    float: none;
    width: 100%;
  }
}

.catalog_banner {
  display: block;
  text-decoration: none;
  height: 495px;
  padding-top: 32px;
  text-align: center;
  border: 1px solid #b2b2b2;
  overflow: hidden;
  margin-bottom: 22px;
}

.banner_caption {
  color: #2b388f;
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}

.catalog_plus {
  color: #00adee;
  font-weight: 800;
  font-size: 225px;
  line-height: 1;
  margin-bottom: 50px;
  text-shadow: 3.8890872965px 3.8890872965px 0 #f2f2f3, 7.7781745931px 7.7781745931px 0 #f2f2f3, 11.6672618896px 11.6672618896px 0 #f2f2f3, 15.5563491861px 15.5563491861px 0 #f2f2f3, 19.4454364826px 19.4454364826px 0 #f1f1f3, 23.3345237792px 23.3345237792px 0 #f2f2f3, 27.2236110757px 27.2236110757px 0 #f1f1f2, 31.1126983722px 31.1126983722px 0 #f2f2f2, 35.0017856687px 35.0017856687px 0 #f2f2f3, 38.8908729653px 38.8908729653px 0 #f2f2f3, 42.7799602618px 42.7799602618px 0 #f2f2f3, 46.6690475583px 46.6690475583px 0 #f2f2f3, 50.5581348548px 50.5581348548px 0 #f2f2f3, 54.4472221514px 54.4472221514px 0 #f2f2f3, 58.3363094479px 58.3363094479px 0 #f2f2f3, 62.2253967444px 62.2253967444px 0 #f2f2f3, 66.1144840409px 66.1144840409px 0 #f2f2f3, 70.0035713375px 70.0035713375px 0 #f2f2f3, 73.892658634px 73.892658634px 0 #f2f2f3, 77.7817459305px 77.7817459305px 0 #f2f2f3, 81.670833227px 81.670833227px 0 #f2f2f3, 85.5599205236px 85.5599205236px 0 #f2f2f3, 89.4490078201px 89.4490078201px 0 #f2f2f3, 93.3380951166px 93.3380951166px 0 #f2f2f3, 97.2271824132px 97.2271824132px 0 #f2f2f3, 101.1162697097px 101.1162697097px 0 #f2f2f3, 105.0053570062px 105.0053570062px 0 #f2f2f3, 108.8944443027px 108.8944443027px 0 #f2f2f3, 112.7835315993px 112.7835315993px 0 #f2f2f3, 116.6726188958px 116.6726188958px 0 #f1f1f3, 120.5617061923px 120.5617061923px 0 #f2f2f3, 124.4507934888px 124.4507934888px 0 #f1f1f3, 128.3398807854px 128.3398807854px 0 #f2f2f2, 132.2289680819px 132.2289680819px 0 #f1f1f2, 136.1180553784px 136.1180553784px 0 #f2f2f3, 140.0071426749px 140.0071426749px 0 #f2f2f3, 143.8962299715px 143.8962299715px 0 #f2f2f3, 147.785317268px 147.785317268px 0 #f2f2f3, 151.6744045645px 151.6744045645px 0 #f2f2f3, 155.563491861px 155.563491861px 0 #f2f2f3, 159.4525791576px 159.4525791576px 0 #f2f2f3, 163.3416664541px 163.3416664541px 0 #f2f2f3, 167.2307537506px 167.2307537506px 0 #f2f2f3, 171.1198410471px 171.1198410471px 0 #f2f2f3, 175.0089283437px 175.0089283437px 0 #f2f2f3, 178.8980156402px 178.8980156402px 0 #f2f2f3, 182.7871029367px 182.7871029367px 0 #f2f2f3, 186.6761902332px 186.6761902332px 0 #f2f2f3, 190.5652775298px 190.5652775298px 0 #f2f2f3, 194.4543648263px 194.4543648263px 0 #f2f2f3, 198.3434521228px 198.3434521228px 0 #f2f2f3, 202.2325394194px 202.2325394194px 0 #f2f2f3, 206.1216267159px 206.1216267159px 0 #f2f2f3, 210.0107140124px 210.0107140124px 0 #f2f2f3, 213.8998013089px 213.8998013089px 0 #f2f2f3, 217.7888886055px 217.7888886055px 0 #f2f2f3, 221.677975902px 221.677975902px 0 #f2f2f3, 225.5670631985px 225.5670631985px 0 #f2f2f3, 229.456150495px 229.456150495px 0 #f2f2f3, 233.3452377916px 233.3452377916px 0 #f2f2f3, 237.2343250881px 237.2343250881px 0 #f2f2f3, 241.1234123846px 241.1234123846px 0 #f2f2f3, 245.0124996811px 245.0124996811px 0 #f2f2f3, 248.9015869777px 248.9015869777px 0 #f2f2f3, 252.7906742742px 252.7906742742px 0 #f2f2f3, 256.6797615707px 256.6797615707px 0 #f2f2f3, 260.5688488672px 260.5688488672px 0 #f2f2f3, 264.4579361638px 264.4579361638px 0 #f2f2f3, 268.3470234603px 268.3470234603px 0 #f2f2f3, 272.2361107568px 272.2361107568px 0 #f2f2f3, 276.1251980533px 276.1251980533px 0 #f2f2f3, 280.0142853499px 280.0142853499px 0 #f2f2f3, 283.9033726464px 283.9033726464px 0 #f2f2f3, 287.7924599429px 287.7924599429px 0 #f2f2f3, 291.6815472395px 291.6815472395px 0 #f2f2f3, 295.570634536px 295.570634536px 0 #f2f2f3, 299.4597218325px 299.4597218325px 0 #f2f2f3, 303.348809129px 303.348809129px 0 #f2f2f3, 307.2378964256px 307.2378964256px 0 #f2f2f3, 311.1269837221px 311.1269837221px 0 #f2f2f3, 315.0160710186px 315.0160710186px 0 #f2f2f3, 318.9051583151px 318.9051583151px 0 #f2f2f3, 322.7942456117px 322.7942456117px 0 #f2f2f3, 326.6833329082px 326.6833329082px 0 #f2f2f3, 330.5724202047px 330.5724202047px 0 #f2f2f3, 334.4615075012px 334.4615075012px 0 #f2f2f3, 338.3505947978px 338.3505947978px 0 #f2f2f3, 342.2396820943px 342.2396820943px 0 #f2f2f3, 346.1287693908px 346.1287693908px 0 #f2f2f3, 350.0178566873px 350.0178566873px 0 #f2f2f3, 353.9069439839px 353.9069439839px 0 #f2f2f3, 357.7960312804px 357.7960312804px 0 #f2f2f3, 361.6851185769px 361.6851185769px 0 #f2f2f3, 365.5742058734px 365.5742058734px 0 #f2f2f3, 369.46329317px 369.46329317px 0 #f2f2f3, 373.3523804665px 373.3523804665px 0 #f2f2f3, 377.241467763px 377.241467763px 0 #f2f2f3, 381.1305550595px 381.1305550595px 0 #f2f2f3, 385.0196423561px 385.0196423561px 0 #f2f2f3, 388.9087296526px 388.9087296526px 0 #f2f2f3;
}

.page_title {
  padding: 45px 10px 25px;
}
.page_title.middle_mod {
  line-height: 43px;
  padding-bottom: 5px;
}
.page_title h1 {
  display: inline-block;
}
@media only screen and (max-width: 719px) {
  .page_title {
    padding: 0 0 15px;
  }
}

.title_control {
  display: inline-block;
  padding-left: 30px;
}
@media only screen and (max-width: 719px) {
  .title_control {
    display: block;
    padding: 15px 0 0;
  }
}

.mason_holder {
  margin-bottom: 30px;
}

.mason {
  margin-left: -10px;
}

.mason_box {
  float: left;
  width: 20%;
  padding: 0 0 12px 10px;
}
@media only screen and (max-width: 1023px) {
  .mason_box {
    width: 25%;
  }
}
@media only screen and (max-width: 719px) {
  .mason_box {
    width: 50%;
  }
}
@media only screen and (max-width: 479px) {
  .mason_box {
    width: 100%;
  }
}

.mason_sizer {
  float: left;
  width: 20%;
}
@media only screen and (max-width: 1023px) {
  .mason_sizer {
    width: 25%;
  }
}
@media only screen and (max-width: 719px) {
  .mason_sizer {
    width: 50%;
  }
}
@media only screen and (max-width: 479px) {
  .mason_sizer {
    width: 100%;
  }
}

.designer_cv_holder {
  position: relative;
  padding-bottom: 20px;
}
.designer_cv_holder:before {
  content: '';
  position: absolute;
  left: 70.5%;
  width: 1px;
  background: #707070;
  bottom: 0;
  top: 15px;
}
@media only screen and (max-width: 1023px) {
  .designer_cv_holder:before {
    display: none;
  }
}

@media only screen and (max-width: 719px) {
  .designer_cover {
    display: none;
  }
}

.designer_contacts_holder {
  float: left;
  width: 70.5%;
  position: relative;
  padding-right: 16px;
}
@media only screen and (max-width: 1023px) {
  .designer_contacts_holder {
    width: 100%;
    padding-right: 0;
  }
}

.designer_avatar {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: -12px;
}
.designer_avatar img {
  display: block;
  margin-top: -100%;
  border: 5px solid #fff;
}
@media only screen and (max-width: 1023px) {
  .designer_avatar {
    margin-bottom: 0;
    float: left;
  }
  .designer_avatar img {
    margin-top: 0;
  }
}
@media only screen and (max-width: 719px) {
  .designer_avatar {
    float: none;
    display: block;
    width: 100%;
  }
  .designer_avatar img {
    width: 100%;
  }
}

.designer_info {
  padding: 7px 10px;
  font-size: 12px;
}
.designer_info + .designer_info {
  border-top: 1px solid #909294;
}
.designer_info p + p {
  margin-top: 10px;
}

.designer_info_l {
  float: left;
  padding-right: 3px;
}

.designer_info_r {
  float: right;
  padding-left: 3px;
}

.designer_info_c {
  display: inline-block;
  vertical-align: top;
  padding: 0 3px;
}

.designer_links {
  display: inline-block;
  vertical-align: bottom;
  padding: 20px 0 5px 14px;
}
.designer_links .designer_info_l {
  padding-right: 20px;
}
@media only screen and (max-width: 1023px) {
  .designer_links .designer_info_l {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 719px) {
  .designer_links {
    vertical-align: middle;
  }
}

.designer_contacts {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 4px;
  position: relative;
  padding-left: 30px;
  font-size: 12px;
}
.designer_contacts:before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  bottom: 5px;
  width: 1px;
  background: #000;
}
@media only screen and (max-width: 1023px) {
  .designer_contacts {
    padding-left: 14px;
    margin-left: 0;
  }
  .designer_contacts:before {
    display: none;
  }
}
@media only screen and (max-width: 719px) {
  .designer_contacts {
    vertical-align: middle;
  }
}

.tags_holder {
  float: left;
  width: 29.5%;
  padding-left: 15px;
  padding-top: 12px;
}
@media only screen and (max-width: 1023px) {
  .tags_holder {
    width: 100%;
    padding-left: 0;
  }
}

.tags_list {
  margin: 11px 0 0 -10px;
}

.tag_item {
  float: left;
  padding-left: 10px;
  margin-bottom: 9px;
}
.tag_item .gl_link {
  display: block;
  letter-spacing: -.4px;
  padding: 0 12px;
  border: 1px solid #707070;
  font: 18px/23px "Calibri", sans-serif;
  color: #666;
  text-decoration: none;
  border-radius: 5px;
}

.designer_item {
  border-radius: 4px;
  border: 1px solid #909294;
  font-family: "Calibri", sans-serif;
  box-shadow: 0 0 1px #efeff0;
  background: #fff;
  -webkit-transition: box-shadow 0.3s;
  -ms-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.designer_item .img_w img {
  width: 100%;
}
.designer_item:hover {
  box-shadow: 3px 3px 3px #303132;
}

.designer_cv {
  clear: both;
  padding-top: 50px;
  font-size: 18px;
}
@media only screen and (max-width: 1023px) {
  .designer_cv {
    padding-top: 15px;
  }
}

.designer_name {
  padding: 9px 10px 0;
  font: 17px/1.2 "Calibrib", sans-serif;
}

.calendar_holder {
  margin-left: -15px;
}
@media only screen and (max-width: 1023px) {
  .calendar_holder {
    margin-left: 0;
  }
}

.calendar_wrapper {
  border-bottom: 2px solid #000;
}
@media only screen and (max-width: 1023px) {
  .calendar_wrapper {
    border: none;
  }
}

.event_list {
  margin-bottom: 25px;
}

.event_item {
  position: relative;
  padding-left: 150px;
}
.event_item:before {
  content: '';
  position: absolute;
  left: 115px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #f68f1e;
}
.event_item:after {
  content: '';
  position: absolute;
  left: 108px;
  top: 50%;
  height: 16px;
  border-radius: 100%;
  margin-top: -8px;
  width: 16px;
  background: #f68f1e;
}
@media only screen and (max-width: 719px) {
  .event_item {
    padding: 3px;
    border: 1px solid #000;
    margin-bottom: 20px;
  }
  .event_item:before, .event_item:after {
    display: none;
  }
}

.event_l_date {
  position: absolute;
  left: 0;
  top: 50%;
  height: 85px;
  margin-top: -42px;
  width: 90px;
  text-align: center;
  line-height: 1;
}
@media only screen and (max-width: 719px) {
  .event_l_date {
    position: relative;
    margin: 0;
    height: auto;
    width: auto;
    top: auto;
    text-align: left;
  }
  .event_l_date .event_l_day, .event_l_date .event_l_month {
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
    padding-right: 5px;
    margin: 0;
  }
}

.event_l_day {
  font-size: 47px;
  margin: 12px 0 -2px;
}

.event_l_month {
  font-size: 28px;
}

.event_caption {
  padding: 20px 7px 18px;
  font-size: 34px;
}

.event_description {
  -webkit-transition: background 0.3s;
  -ms-transition: background 0.3s;
  transition: background 0.3s;
  background: #fff;
  padding: 11px 50px 11px 17px;
  min-height: 104px;
  position: relative;
}
.event_description:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 34px;
  width: 9px;
  height: 20px;
  margin-top: -10px;
  background: url(/bundles/sipresource/img/event_shevron.png) no-repeat 0 0;
}
.event_description p {
  font-size: 17px;
}
@media only screen and (max-width: 719px) {
  .event_description {
    padding: 0 30px 0 0;
  }
  .event_description:before {
    right: 5px;
  }
}
.event_item:hover .event_description {
  background: #dcddde;
}
@media only screen and (max-width: 719px) {
  .event_item:hover .event_description {
    background: #fff;
  }
}

.event_img {
  float: left;
  margin-right: 30px;
}
.event_img img {
  display: block;
}
@media only screen and (max-width: 719px) {
  .event_img {
    float: none;
    margin: 0 0 10px;
  }
}

.event_title {
  font-size: 24px;
  margin-bottom: 5px;
}

.cal_cell {
  padding: 0 0 16px 15px;
  width: 14.28571%;
  float: left;
}
@media only screen and (max-width: 1023px) {
  .cal_cell {
    width: 100px;
    padding: 0 8px 20px 0;
  }
}

.cal_date {
  position: relative;
  height: 100px;
  background: #fff;
  border: 1px solid #888a8d;
}
@media only screen and (max-width: 1023px) {
  .cal_date {
    height: 70px;
  }
}
.weekend .cal_date {
  border-color: #ef30a1;
  box-shadow: inset 0 0 0 2px #ef30a1;
}
.disabled .cal_date {
  background: #dcddde;
  border-color: #dcddde;
  box-shadow: none;
}

.cal_img {
  -webkit-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  text-align: center;
  line-height: 100%;
}
.cal_img:hover {
  opacity: .2;
}
.cal_img img {
  display: inline-block;
  vertical-align: top;
  margin: 0 -200px;
}

.cal_day {
  z-index: 1;
  position: absolute;
  top: 6px;
  left: 6px;
  font-size: 18px;
}
@media only screen and (max-width: 1023px) {
  .cal_day {
    font-size: 12px;
  }
}

.cal_day_name {
  display: none;
}
@media only screen and (max-width: 1023px) {
  .cal_day_name {
    display: block;
  }
}

.cal_hover_info {
  display: none;
  z-index: 2;
  position: absolute;
  left: 34%;
  top: 79%;
  min-width: 220px;
  border-radius: 5px;
  border: 1px solid #9c9ea0;
  background: #fff;
  padding: 10px 8px 2px;
  letter-spacing: -.3px;
  font-family: "Calibri", sans-serif;
}
.cal_date:hover .cal_hover_info {
  display: block;
}
.weekend .cal_date:hover .cal_hover_info {
  left: auto;
  right: 34%;
}
@media only screen and (max-width: 1023px) {
  .cal_hover_info {
    display: none !important;
  }
}

.cal_h_item h3 {
  font-size: 12px;
  margin-bottom: 8px;
}
.cal_h_item p {
  font-size: 10px;
  margin-bottom: 8px;
}

.cal_event {
  position: absolute;
  z-index: 1;
  left: 8px;
  max-height: 50px;
  bottom: 6px;
}
@media only screen and (max-width: 1023px) {
  .cal_event {
    left: 4px;
    bottom: 3px;
    max-width: 36px;
  }
}

.cal_ev_item {
  margin: 2px 2px 0 0;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  background: #ccc;
  border: 1px solid #f8f8f8;
}
@media only screen and (max-width: 1023px) {
  .cal_ev_item {
    width: 10px;
    height: 10px;
    margin-bottom: 1px;
  }
}

.calendar_controls {
  line-height: 38px;
  margin-bottom: 30px;
}

.cal_c_l {
  float: left;
}
.cal_c_l .cal_caption {
  margin-right: 10px;
}

.cal_c_r {
  float: right;
}

.cal_btn {
  display: inline-block;
  vertical-align: bottom;
  line-height: 1;
  margin-left: 16px;
  color: #000;
}
@media only screen and (max-width: 719px) {
  .cal_btn {
    margin-left: 5px;
  }
}

.cal_caption {
  font: 36px/1 "HelveticaNeueCyrBlack", sans-serif;
  border-bottom: 2px dashed #000;
}

.btn_v1 {
  height: 33px;
}
.btn_v1.search_btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 130px;
  padding: 0 12px 4px 72px;
  background: #f68f1e;
  border-bottom: 1px solid #f2a550;
  text-align: left;
  color: #fff;
  font: 15px AcromBold, sans-serif;
}
.btn_v1.search_btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  width: 72px;
  margin-top: -25px;
  height: 51px;
  background: url(/bundles/sipresource/img/search_btn.png) no-repeat 0 0;
}
.btn_v1.search_btn span {
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 719px) {
  .btn_v1.search_btn {
    position: relative;
    margin-top: 10px;
    float: right;
  }
}

.green_btn {
  color: #fff;
  background: #2dcda1;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

.fw_b {
  font-family: "HelveticaNeueCyrBlack", sans-serif;
}

.fz_10 {
  font-size: 10px;
}

.fz_12 {
  font-size: 12px;
}

.fz_15 {
  font-size: 15px;
}

.fz_16 {
  font-size: 16px;
}

.fz_18 {
  font-size: 18px;
}

.fz_20 {
  font-size: 20px;
}

.fz_36 {
  font-size: 36px;
}

.color_black {
  color: #000;
}

.color_gray {
  color: #666;
}

.rect_1024 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -500px;
  width: 1000px;
  bottom: 0;
  border: 1px solid red;
  z-index: 10;
  pointer-events: none;
}

.rect_1024:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 500px;
  width: 1px;
  background: red;
}

.footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  height: 250px;
}
@media only screen and (max-width: 719px) {
  .footer {
    position: relative;
    height: auto;
  }
}

@media only screen and (max-width: 719px) {
  .mob_hidden {
    display: none;
  }
}

.mob_only {
  display: none;
}
@media only screen and (max-width: 719px) {
  .mob_only {
    display: block;
  }
}

/*# sourceMappingURL=main_global.css.map */



/*MIKEBREEZE*/
.main_content.posts.cols .col-container { font-size: 0px; }

.main_content.posts.cols .col-1, .main_content.posts.cols .col-2 {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}

.main_content.posts.cols .col-1 { width: 704px; margin-right: 28px;}
.main_content.posts.cols .col-2 { width: 264px; }

.main_content.posts.cols h1, .main_content.posts.cols .breadcumbs { font-size: 16px; }

.main_content.posts.cols .breadcumbs {
    margin-top: 23px;
    margin-bottom: 30px;
}

.main_content.posts.cols .breadcumbs li {
    display: inline-block;
    font-size: 18px;
    color:#808285;
}

.main_content.posts.cols .breadcumbs li:after {
    content:"/";
    margin-left: 4px;
}

.main_content.posts.cols .breadcumbs li:last-child:after {
    content: "";
    display: none;
}

.main_content.posts.cols h1 {
    font-size: 30px;
    color:#222222;
    margin-bottom: 28px;
    font-weight: 300;
}

.main_content.posts.cols .search {
    width: 100%;
    font-size: 0px;
    box-sizing: border-box;
    padding: 3px;
    background-color: #666666;
    margin-bottom: 40px;
}

.main_content.posts.cols .search * { font-size: 16px; }

.main_content.posts.cols .search input[type="text"] {
    width: 568px;
    height: 38px;
    background-color: #fff;
    padding: 0px 15px;
    box-sizing: border-box;
    margin-right: 3px;
}

.main_content.posts.cols .search input[type="submit"] {
    width: 127px;
    height: 38px;
    background-color: #808285;
    color:#fff;
    border: 0px;
    font-size: 15px;
}

.main_content.posts.cols .search input[type="submit"]:hover { background-color: #9B9D9E; }

.sidebar-box {
    margin-bottom: 20px;
}

.sidebar-box .last-news a {
    text-decoration: none;
    color: 0px;
    font-family: 'HelveticaNeueCyrMedium', sans-serif;
    font-size: 12px;
    border-bottom: 1px solid #6f6f6f;
    color:#000;
    line-height: 12px;
    display: inline;
}

.sidebar-box .last-news a:after {
    content: "";
    display: block;
    clear: both;
    margin-bottom: 10px;
}

.sidebar-box .header {
    position: initial;
    top: auto;
    right: auto;
    left: auto;
    font-size: 16px;
    font-weight: 300;
    color:#fff;
    background-color: #d2d2d2;
    height: 44px;
    width: 100%;
    line-height: 44px;
    padding: 0px 12px;
    font-family: 'Calibril';
    box-sizing: border-box;
    margin-bottom: 15px;
}

.catlist a {
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    padding: 18px 0px;
    display: block;
}

.catlist a:hover {
    color:#797979;
}

.catlist a .name { float: left; }
.catlist a .count { float: right; }

.catlist a:after {
    content:"";
    display: block;
    clear: both;
}

.catlist li.active a {
    color: #f68f1e;
    border-bottom: 1px solid #f68f1e;
    box-sizing: border-box;
}

.news-list .item { font-size: 0px; margin-bottom: 30px;}
.news-list .item .img, .news-list .item .body { font-size: 16px; }

.news-list .item .img {
    width: 215px;
    margin-right: 22px;
    display: inline-block;
    vertical-align: top;
}

.news-list .item .body {
    width: 467px;
    display: inline-block;
    vertical-align: top;
}

.news-list .item .body .date {
    font-size: 12px;
    font-family: 'HelveticaNeueCyrMedium', sans-serif;
    margin-bottom: 3px;
}

.news-list .item .body a {
    font-size: 16px;
    border-bottom: 1px solid #6f6f6f;
    text-decoration: none;
    color:#222222;
    font-weight: 500;
    font-family: 'HelveticaNeueCyrMedium', sans-serif;
}

.news-list .item .body a:hover {
    border-bottom: 0px;
}

.news-list .item .body .description {
    margin-top: 8px;
    font-family: 'HelveticaNeueCyrMedium', sans-serif;
    font-size: 12px;
}

.pagination {
    text-align: center;
    margin-top: 59px;
    margin-bottom: 30px;
}

.pagination ul { font-size: 0px; display: inline-block; }

.pagination ul li {
    display: inline-block;
    font-size: 18px;
    color:#000;
    text-decoration: none;
    margin: 0px 6px 0px 7px;
}

.pagination ul li a {
    text-decoration: none;
    color:#000;
    display: block;
}

.pagination ul li a:hover {
    color: #777777;
}

.pagination ul li.active { margin: 0px; }

.pagination ul li.active a {
    background-color: #f68f1e;
    border-radius: 3px;
    height: 26px;
    width: 26px;
    text-align: center;
    line-height: 26px;
}

.pagination ul li:last-child {
    margin: 0px;
}

.sidebar-box:after {
    content:"";
    display: block;
    clear: both;
}

.main_content.posts.cols.news .col-2 .sidebar-box:last-child .header {
    margin-bottom: 10px;
}

.main_content.posts.cols.news .date {
    font-size: 12px;
    font-family: 'HelveticaNeueCyrMedium', sans-serif;
    margin-bottom: 5px;
}

.main_content.posts.cols.news .breadcumbs {
    margin-bottom: 20px;
}

.main_content.posts.cols.news h1 {
    font-family: 'HelveticaNeueCyrMedium', sans-serif;
    letter-spacing: -0.4px;
    width: 704px;
    margin-bottom: 13px;
}

.main_content.posts.cols.news .text-content img {
    max-width: 100%;
    display: block;
    margin: 0px auto;
    margin-bottom: 22px;
}

.main_content.posts.cols.news .text-content p b {
    font-family: 'HelveticaNeueCyrMedium', sans-serif;
    margin:20px 0px 16px;
    display: block;
}

.main_content.posts.cols.news .text-content p {
    font-size: 14px;
    font-weight: 600;
}

.main_content.posts.cols.news .col-2 .sidebar-box:first-child {
    min-height: 460px;
    position: relative;
}

.main_content.posts.cols.news .col-2 .sidebar-box .photo {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-family: 'Calibril';
    color:#666666;
}

.main_content.posts.cols.news .col-2 .sidebar-box .header {
    height: 36px;
    line-height: 36px;
}

ul.expo { font-size: 0px;}
ul.expo li { display: inline-block; font-size: 14px;}
ul.expo li a {
    color:#666666;
    border: 1px solid #a9a9a9;
    border-top: 1px solid #666;
    box-shadow: 0px 1px 0px #b3b3b3;
    border-radius: 4px;
    text-decoration: none;
    height: 24px;
    display: inline-block;
    font-size: 14px;
    padding: 0px 15px;
    line-height: 22px;
    margin-right: 10px;
    margin-bottom: 8px;
}

ul.expo li a:hover {
    background-color: #f5f5f5
}

.main_content.posts.cols.news .social {
    padding: 39px 0px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    margin: 22px 0px;
    margin-bottom: 35px;
}

.main_content.posts.cols.news .comments { margin-bottom: -201px;}

#comments { font-size: 0px; margin-bottom: 20px;}
#comments li {
    display: inline-block;
    margin-right: 20px;
}

#comments li a {
    text-decoration: none;
    color:#000;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    padding: 6px 15px;
    display: block;
    border-radius: 5px;
}

#comments li.active a {
    border: 1px solid #000;
}

#comments li a:hover {
    background-color: #f5f5f5;
}

#vk {
    display: none;
}

.main_content.posts.cols.calendar .pagination {
    margin-top: 59px;
    margin-bottom: 30px;
    display: block;
}

.main_content.posts.cols.calendar h1 span {
    color:#f68f1e;
    cursor: pointer;
}

.main_content.posts.cols.calendar h1 span span {
    color:#000;
}

.applyBtn {
    width: 100%;
    margin-bottom: 8px !important;
    background-color: #f68f1e !important;
    border: 1px solid #c4c4c4 !important;
    color:#424242 !important;
    font-size: 14px !important;
    font-family: 'HelveticaNeueCyrThin' !important;
    letter-spacing: 1px !important;
    font-weight: 600 !important;
    outline: none;
    -webkit-outline: none;
    box-shadow: none !important;

}

.cancelBtn {
    width: 100%;
    background-color: #bebebe !important;
    color:#424242 !important;
    font-size: 14px !important;
    font-family: 'HelveticaNeueCyrThin' !important;
    letter-spacing: 1px !important;
    font-weight: 600 !important;
    outline: none;
    -webkit-outline: none;
    box-shadow: none !important;
    border: 0px !important
}

.daterangepicker .input-mini.active {
    border: 1px solid #e48d23 !important;
}

.daterangepicker td.in-range {
    background: #fdede7 !important;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #7b7b7b !important;
    border-color: #7b7b7b !important;
}

.daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    background: #fff !important
}

.daterangepicker.dropdown-menu {
    box-shadow: none !important;
}

.daterangepicker.opensright:after, .daterangepicker.opensright:before {
    display: none !important;
}

@media screen and (max-width:1023px) {
    .main_content.posts.cols .col-1, .main_content.posts.cols .col-2 {
        width: 100%;
    }

    .main_content.posts.cols .search {
        position: relative;
    }

    .main_content.posts.cols .search input[type="submit"] {
        position: absolute;
        right: 3px;
        top: 3px;
        border-left: 3px solid #666666;
    }

    .main_content.posts.cols .search input[type="text"] {
        width: 100%;
        margin-right: 0px;
    }

    .news-list .item {
        position: relative;
    }

    .news-list .item .img {
        position: absolute;
        left: 0;
        top: 0;
        width: 215px;
        overflow: hidden;
    }

    .news-list .item .body {
        width: 100%;
        padding-left: 240px;
    }

    .pagination {
        margin-bottom: 50px;
        margin-top: 80px;
    }

    .main_content.posts.cols.news h1 {
        width: 100%;
    }

    .main_content.posts.cols.news .col-2 .sidebar-box:first-child {
        margin-top: 40px;
        min-height: auto;
    }

    .main_content.posts.cols.news .col-2 .sidebar-box .photo {
        position: initial;
        margin-top: 10px;
    }

    .main_content.posts.cols.calendar .pagination {
        margin-bottom: 50px;
    }

}

@media screen and (max-width:719px) {
    .main_content.posts.cols .search input[type="submit"] {
        position: initial;
        border-left: 0px;
        border-top: 3px solid #666666;
        width: 100%;
    }

    .news-list .item .img {
        position: initial;
        width: 100%;
        text-align: center;
        max-height: 150px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .news-list .item .body {
        padding-left: 0px;
    }

    .news-list .item {
        margin-bottom: 50px;
    }

    .main_content.posts.cols.news .comments {
        margin-bottom: 30px;
    }

}
/*/MIKEBREEZE*/
@charset "UTF-8";.blueimp-gallery,.blueimp-gallery>.slides>.slide>.slide-content{position:absolute;top:0;right:0;bottom:0;left:0;-moz-backface-visibility:hidden}.blueimp-gallery>.slides>.slide>.slide-content{margin:auto;width:auto;height:auto;max-width:100%;max-height:100%;opacity:1}.blueimp-gallery{position:fixed;z-index:999999;overflow:hidden;background:#000;background:rgba(0,0,0,.9);opacity:0;display:none;direction:ltr;-ms-touch-action:none;touch-action:none}.blueimp-gallery-carousel{position:relative;z-index:auto;margin:1em auto;padding-bottom:56.25%;box-shadow:0 0 10px #000;-ms-touch-action:pan-y;touch-action:pan-y}.blueimp-gallery-display{display:block;opacity:1}.blueimp-gallery>.slides{position:relative;height:100%;overflow:hidden}.blueimp-gallery-carousel>.slides{position:absolute}.blueimp-gallery>.slides>.slide{position:relative;float:left;height:100%;text-align:center;-webkit-transition-timing-function:cubic-bezier(0.645,.045,.355,1);-moz-transition-timing-function:cubic-bezier(0.645,.045,.355,1);-ms-transition-timing-function:cubic-bezier(0.645,.045,.355,1);-o-transition-timing-function:cubic-bezier(0.645,.045,.355,1);transition-timing-function:cubic-bezier(0.645,.045,.355,1)}.blueimp-gallery,.blueimp-gallery>.slides>.slide>.slide-content{-webkit-transition:opacity .5s linear;-moz-transition:opacity .5s linear;-ms-transition:opacity .5s linear;-o-transition:opacity .5s linear;transition:opacity .5s linear}.blueimp-gallery>.slides>.slide-loading{background:url(/bundles/sipresource/img/gallery/img/loading.gif) center no-repeat;background-size:64px 64px}.blueimp-gallery>.slides>.slide-loading>.slide-content{opacity:0}.blueimp-gallery>.slides>.slide-error{background:url(/bundles/sipresource/img/gallery/img/error.png) center no-repeat}.blueimp-gallery>.slides>.slide-error>.slide-content{display:none}.blueimp-gallery>.prev,.blueimp-gallery>.next{position:absolute;top:50%;left:15px;width:40px;height:40px;margin-top:-23px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:60px;font-weight:100;line-height:30px;color:#fff;text-decoration:none;text-shadow:0 0 2px #000;text-align:center;background:#222;background:rgba(0,0,0,.5);-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;border:3px solid #fff;-webkit-border-radius:23px;-moz-border-radius:23px;border-radius:23px;opacity:.5;cursor:pointer;display:none}.blueimp-gallery>.next{left:auto;right:15px}.blueimp-gallery>.close,.blueimp-gallery>.title{position:absolute;top:15px;left:15px;margin:0 40px 0 0;font-size:20px;line-height:30px;color:#fff;text-shadow:0 0 2px #000;opacity:.8;display:none}.blueimp-gallery>.close{padding:15px;right:15px;left:auto;margin:-15px;font-size:30px;text-decoration:none;cursor:pointer}.blueimp-gallery>.play-pause{position:absolute;right:15px;bottom:15px;width:15px;height:15px;background:url(/bundles/sipresource/img/gallery/img/play-pause.png) 0 0 no-repeat;cursor:pointer;opacity:.5;display:none}.blueimp-gallery-playing>.play-pause{background-position:-15px 0}.blueimp-gallery>.prev:hover,.blueimp-gallery>.next:hover,.blueimp-gallery>.close:hover,.blueimp-gallery>.title:hover,.blueimp-gallery>.play-pause:hover{color:#fff;opacity:1}.blueimp-gallery-controls>.prev,.blueimp-gallery-controls>.next,.blueimp-gallery-controls>.close,.blueimp-gallery-controls>.title,.blueimp-gallery-controls>.play-pause{display:block;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0)}.blueimp-gallery-single>.prev,.blueimp-gallery-left>.prev,.blueimp-gallery-single>.next,.blueimp-gallery-right>.next,.blueimp-gallery-single>.play-pause{display:none}.blueimp-gallery>.slides>.slide>.slide-content,.blueimp-gallery>.prev,.blueimp-gallery>.next,.blueimp-gallery>.close,.blueimp-gallery>.play-pause{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}body:last-child .blueimp-gallery>.slides>.slide-error{background-image:url(/bundles/sipresource/img/gallery/img/error.svg)}body:last-child .blueimp-gallery>.play-pause{width:20px;height:20px;background-size:40px 20px;background-image:url(/bundles/sipresource/img/gallery/img/play-pause.svg)}body:last-child .blueimp-gallery-playing>.play-pause{background-position:-20px 0}*+html .blueimp-gallery>.slides>.slide{min-height:300px}*+html .blueimp-gallery>.slides>.slide>.slide-content{position:relative}@charset "UTF-8";.blueimp-gallery>.indicator{position:absolute;top:auto;right:15px;bottom:15px;left:15px;margin:0 40px;padding:0;list-style:none;text-align:center;line-height:10px;display:none}.blueimp-gallery>.indicator>li{display:inline-block;width:9px;height:9px;margin:6px 3px 0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;border:1px solid transparent;background:#ccc;background:rgba(255,255,255,.25)center no-repeat;border-radius:5px;box-shadow:0 0 2px #000;opacity:.5;cursor:pointer}.blueimp-gallery>.indicator>li:hover,.blueimp-gallery>.indicator>.active{background-color:#fff;border-color:#fff;opacity:1}.blueimp-gallery-controls>.indicator{display:block;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0)}.blueimp-gallery-single>.indicator{display:none}.blueimp-gallery>.indicator{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}*+html .blueimp-gallery>.indicator>li{display:inline}@charset "UTF-8";.blueimp-gallery>.slides>.slide>.video-content>img{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;width:auto;height:auto;max-width:100%;max-height:100%;-moz-backface-visibility:hidden}.blueimp-gallery>.slides>.slide>.video-content>video{position:absolute;top:0;left:0;width:100%;height:100%}.blueimp-gallery>.slides>.slide>.video-content>iframe{position:absolute;top:100%;left:0;width:100%;height:100%;border:none}.blueimp-gallery>.slides>.slide>.video-playing>iframe{top:0}.blueimp-gallery>.slides>.slide>.video-content>a{position:absolute;top:50%;right:0;left:0;margin:-64px auto 0;width:128px;height:128px;background:url(/bundles/sipresource/img/gallery/img/video-play.png) center no-repeat;opacity:.8;cursor:pointer}.blueimp-gallery>.slides>.slide>.video-content>a:hover{opacity:1}.blueimp-gallery>.slides>.slide>.video-playing>a,.blueimp-gallery>.slides>.slide>.video-playing>img{display:none}.blueimp-gallery>.slides>.slide>.video-content>video{display:none}.blueimp-gallery>.slides>.slide>.video-playing>video{display:block}.blueimp-gallery>.slides>.slide>.video-loading>a{background:url(/bundles/sipresource/img/gallery/img/loading.gif) center no-repeat;background-size:64px 64px}body:last-child .blueimp-gallery>.slides>.slide>.video-content:not(.video-loading)>a{background-image:url(/bundles/sipresource/img/gallery/img/video-play.svg)}*+html .blueimp-gallery>.slides>.slide>.video-content{height:100%}*+html .blueimp-gallery>.slides>.slide>.video-content>a{left:50%;margin-left:-64px}
.fz_36 a {
    text-decoration: none;
    color: #000;
}

.fz_36 a:hover {
    text-decoration: underline;
}

.main_content.posts.cols .breadcumbs li a {
    text-decoration: none;
    color:#808285;
}

.main_content.posts.cols .breadcumbs li a:hover {
    text-decoration: underline;
}

.designer_name a {
    color: #000;
    text-decoration: none;
}

.designer_contacts {
    width: 310px;
}

.designer_contacts a {
    color: #000;
    text-decoration: none;
}

.designer_contacts a:hover {
    text-decoration: underline;
}

.designer_contacts p {
    margin-top: 5px;
}
.main_content h1.date-title {
    cursor: pointer;
}

.main_content.posts.cols .page_title {
    padding: 0px;
}

.fr.w_330.pl_16.tablet_wide a.fz_20 {
    color: #000;
    text-decoration: none;
}

.base {
    padding-bottom: 0px;
}
.section_inner.clearfix .comments {
    padding-bottom: 250px;
}
@media only screen and (max-width: 719px) {
    .section_inner.clearfix .comments {
        padding-bottom: 0px;
    }
}

#ytWidget .yt-wrapper {
    float: left;
}

#ytWidget #yt-widget .yt-button {
    height: 22px;
    padding-bottom: 0;
    padding-top: 0;
    line-height: 22px;
}

#ytWidget #yt-widget .yt-button__icon {
    margin-top: -5px;
}

#ytWidget #yt-widget .yt-wrapper_align_right {
    margin-left: 5px;
}

.main_content.posts.cols .col-1 .search form { font-size: 0; }

#temp-load {
    display: none;
}