<div class="footer">
    <div class="section_inner">
        {{ knp_menu_render('SIPResourceBundle:Builder:mainMenu', {'currentClass': 'active'}) }}
        <div class="logo_holder">
            <div class="fl">
                <div class="mb"><a href="#" class="logo">{#<img src="/bundles/sipresource/img/branch.png">#}</a></div>
            </div>
            <div class="fr">
                <div class="mb"><a href="#" class="logo logo_v3"><img src="/bundles/sipresource/img/logo_2.png"></a></div>
            </div>
        </div>
    </div>
</div>